<?xml version="1.0" encoding="utf-8" ?>
<log4net>

  <!-- Uncomment to enable rolling file logging.
       Remember to uncomment the <appender-ref> below in the <root> node, too.-->
  <!--<appender name="RollingFile" type="log4net.Appender.RollingFileAppender">
    <file value="D:\TPPLogs\tpplog.txt" />
    <appendToFile value="true" />
    <rollingStyle value="Date" />
    <datePattern value=".yyyy-MM-dd" />--><!-- New log file each day. --><!--
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%utcdate{yyyy-MM-dd HH:mm:ss} [%-5p] %message%newline" />
    </layout>
    <threshold value="info" />
    <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />--><!-- Allow multiple processes to log to same file. --><!--
  </appender>-->
  
  <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%utcdate{yyyy-MM-dd HH:mm:ss} [%-5p] %message%newline" />
    </layout>
    <threshold value="all" />
  </appender>
  <root>
    <!--<appender-ref ref="RollingFile" />-->
    <appender-ref ref="ConsoleAppender" />
  </root>
</log4net>
