name: test

on: [push, pull_request]

jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        dotnet-sdk-version:
          - 8.0.101 # currently running on stream
          - 8.0.x

    steps:
      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: ${{ matrix.dotnet-sdk-version }}
      - uses: actions/checkout@v2
      - name: MongoDB in GitHub Actions
        uses: supercharge/mongodb-github-action@1.11.0
        with:
          mongodb-version: 6.0
          mongodb-replica-set: rs0
      - name: Test with dotnet
        run: dotnet test
