name: test-publish

on: [push, pull_request]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 8.0.x
      - uses: actions/checkout@v2
      - name: Try publishing and running dummy mode
        run: |
          cd Core
          dotnet run -- gendefaultconfig --outfile=config.json
          dotnet publish -c Release
          timeout --preserve-status -k1 3 dotnet ../artifacts/publish/Core/release/Core.dll start -m dummy || exit_code=$?
          if [ $exit_code -ne 143 ]; then
              echo "expected exit code 143, which means the program handled SIGTERM, but got $exit_code"
              exit 1
          fi
